<% unless user_signed_in? %>


<%= render 'homeheader' %>

	<div class="hero">
		<p id="pad">Welcome to ScrambleBox!</p>

			<%= link_to "Sign Up Now", new_user_registration_path, class: "btn btn-primary btn-large" %>
			<%= link_to "Login", new_user_session_path, class: "btn btn-primary btn-large" %>
	</div>



<% end %>

<% if user_signed_in? %>
<div class="row">
	<div class="span12">
		<div class="span8">
<h2> Welcome <%= current_user.name %> <%= image_tag current_user.avatar(:thumb) %></h2>


<%= render current_user.scrambles %>

		</div>
		
		<div class="span3">
<%= link_to "Create new Scramble", new_scramble_path, class: "btn btn-primary btn-large" %>
		</div>
	</div>
</div>

<% end %>
