<%= simple_form_for([@scramble, @order]) do |f| %>
  
  <%= f.error_notification %>
  <%= hidden_field_tag 'scramble_id', @scramble.id  %>

  <div class="form-inputs">

    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :email %>
    <%= f.input :pay_type %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>  <%= link_to 'Back to scramble', @scramble, class: "btn btn-primary" %>
  </div>


<% end %>
