<div class="row">
  <div class="box">
      <center>  <h3> <%= scramble.title %> </h3> </center>

    <%= link_to (image_tag scramble.image(:small)), scramble %>
        <ul>

          <li class="stats">
           <%= scramble.orders.count %>
            <span>interested</span>
          </li>
  
          <li class="stats">
            <%= number_to_currency(scramble.revenue) %>
            <span>revenue </span> 
          </li>

          <li class="stats">
             <%= scramble.impressionist_count %> 
           <span>views </span> <!-- view counter -->
          </li>

          <li class="stats">
            <%= time_ago_in_words(scramble.created_at) %>
            <span> left </span>
          </li>

        </ul>

    
    <div id="buttonsscramble">
          <%= link_to 'Edit', edit_scramble_path(scramble), class: "btn btn-success" %>
          <%= link_to 'Delete', scramble, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-warning" %>
      </div>
</div>
</div>