<div class="row-fluid" id="scramble">

	<div class="span12"> <!-- Image, price and milestone view. -->
		<div class="span6">
		
<%= image_tag @scramble.image(:medium) %>

    </div>

    <div class="span6" id="pricemodule">
   
    <div id="noDays"></div> 
   
    
   <%= link_to "Reserve this scramble", new_scramble_order_path(@scramble), class: "btn btn-success btn-large", id: "buybtn" %>

      <span id="scramblestats">  Current price : <%= number_to_currency(@scramble.price) %>
       <br>
       Users reserved this: <%= @scramble.orders.count %>
     </span> 



    </div>

</div>

 <div class="span12"> <!-- Title, description and retailer view. -->
   <div class="span8">
    <h2>
  	  <%= @scramble.title %>
    </h2>

	<p>
	  <%= simple_format @scramble.description %>
	</p>
  </div>

<!-- Scramble share and retailer -->

 <div class="span4">
 	<h3> Scramble by </h3>
	<p>
	  <%= image_tag @scramble.user.avatar(:thumb), id: "avatarshow" %> <%= @scramble.user.name %> <br><i><small>
	  <%= @scramble.user.description %>
	</small></i>
	</p>

	<% if current_user == @scramble.user %>
		<%= link_to 'Edit', edit_scramble_path(@scramble), class: "btn btn-primary" %>
	<% end %>

</div>

<!-- Share buttons -->
<div class="span4" id="scrambleshare">
	<h3> Share this scramble with your friends. </h3>
	</div>

  </div>
</div>

<div id="powered">

  <center><strong> Powered by <%= link_to "ScrambleBox", root_path %>. </strong></center>

</div>